<app-menu></app-menu>

<div class="container">
    

    <h1>{{ title }}</h1>
    <h3 [innerText]="title"></h3>
    <p>
        {{paragraph}}
    </p>
    <p>
        Bu içerik, {{creator}} tarafından {{generatedDate}} tarihinde oluşturulmuştur.
    </p>
    <input type="checkbox" [checked]="isChecked">Seçili mi?


    <p>{{myTodoItem.task}}</p>
    <p>Şu anda toplam {{ todoList.length }} adet iş tanımlı</p>
    <p>Tamamlanmamış iş: {{ getInCompletedItemsCount() }}</p>

    <button class="btn btn-success" (click)="filter()" >{{ customButtonText }}</button>


    <div>
        <div class="todo" *ngFor="let todo of todoList" >
            <input type="checkbox" class="form-check-input" [(ngModel)]="todo.isDone" name="" id=""> {{todo.task}}
            <span class="badge rounded-pill" [ngClass]="todo.isDone ? 'bg-info':'bg-danger'">{{ todo.isDone ? 'Yapıldı':'Yapılmadı' }}</span>

        </div>
    </div>


    <div>
        <input type="text" [(ngModel)]="textData" >
        <span>{{ textData }}</span>
    </div>

</div>